<div class="root_container">
  <ol>
    <% @posts.each do |post| %>   <!-- # This do is ended down below -->
      <li>
      <div class="posts">
        <div class="votes">
          <div class="count"><strong><%= post.like %></strong></div>
          <!-- <#%= link_to upvote_post_path(id: post.id), method: :post, class: 'btn btn-default btn-sm' do %> -->
          <%= link_to upvote_post_path(id: post.id), method: :post, class: 'btn btn-default btn-sm', data: {disable: true} do %>
            <i class="glyphicon glyphicon-triangle-top"></i>
          <% end %>
          <%= link_to downvote_post_path(id: post.id), method: :post, class: 'btn btn-default btn-sm' do%>
          <i class="glyphicon glyphicon-triangle-bottom"></i>
          <% end %>
        </div> <!-- close the votes div -->
        <div class="postsindex">
          <h1><%= link_to post.title, post.url %></h1>
          <h3><%= post.user.name %></h3>
          <h2><%= post.body %></h2>
        </div>  <!-- close the postsindex div -->
      </div> <!-- close the posts div -->
      </li>
    <% end %> <!-- # This is the do post end -->
  </ol>
</div>  <!-- # closes the container div -->
