<h1>Posts#Show</h1>
<p>Find me in app/views/posts/show.html.erb</p>
<!-- came here from welcome/index.html via the link below -->
<!--  <h2><#%= link_to post.title, post_path(id: post.id)%></h2>  -->
  <h1><%= @post.title %></h1>
  <div class="count"><strong><%= @post.like %></strong></div>
  <h3><%= @post.user.name %></h3>
  <%= @post.body %>

  <% @post.comments.order("id desc").each do |comment| %>
      <h3><%= comment.body %></h3>
  <% end %>

  <!-- ADD COMMENT LINK PLACED HERE WILL TAKE YOU TO root/ -->
  <!--  (id: @post.id)    /localhost:3000/comments/new   -->

<%= link_to "ADD COMMENT", new_comment_path, class: "btn btn-default"%>
